*
{
    margin:0;
    padding:0;
}
header
{
    height: 4em;
    width: 100%;
    border: 2px solid black;
}


h1
{
    text-align: center;
    font-size: 350%;
}

.bild
{
    width:25em;
    height: 20em;
    margin:0 auto;
    float:left;
    border-radius: 15%;   
}
figcaption
{
    text-align: center;
display: inline;
}

.textrutor
{
    border-radius: 15%;
    width: 25em;
    height: 20em;
    margin-left: 5%;
    margin-right:6.8%;
    margin-bottom: 5%;
    float: right;
    border: 1px solid black;
}