*
{
    margin:0;
    padding:0;
}
header
{
    height: 4em;
    width: 100%;
    border: 2px solid black;
}
h1
{
    text-align: center;
    font-size: 350%;
}
.bild
{
    width: 100%;
    height: 100%;
    margin:0 auto;
    float:left;
    border-radius: 15%;   
}
figcaption
{
    text-align: center;
    display: inline;
}
.textrutor
{
    border-radius: 15%;
    width: 20%;
    height: 20em;
    margin-right:10%;
    margin-bottom: 5%;
    float: right;
    border: 1px solid black;
}